<form>
    <div>
        <input
            type="text"
            name="search"
            id="search"
            placeholder="<% if (lang === 'ja'){ %>言葉を検索<% } else { %>Search a word<% } %>"
        />
        <input
            type="submit"
            value="<% if (lang === 'ja'){ %>検索<% } else { %>Search<% } %>"
        />
    </div>
</form>
