<form>
    <% if (concepts.size) { %>
    <fieldset>
        <legend>Concepts:</legend>

        <% if (concepts.size > 1) { %>
        <div>
            <input
                type="radio"
                name="concept"
                id="concept-all"
                value="all"
                checked
            />
            <label for="concept-all">All</label>
        </div>
        <% } %>
        <!---->
        <% concepts.forEach((concept, i) => { %>
        <div>
            <input type="radio" name="concept" id="concept-<%= `${i + 1}` %>" />
            <label for="concept-<%= `${i + 1}` %>"><%= concept %></label>
        </div>
        <% }); %>
    </fieldset>
    <% } %>
</form>
