<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Words - Tangocho</title>
        <link rel="stylesheet" href="/assets/css/index.css" />
        <script src="/assets/js/index.js" type="module"></script>
    </head>
    <body>
        <h1>Words</h1>
        <ul>
            <li><a href="/words/ja/">Japanese</a></li>
            <li><a href="/words/en/">English</a></li>
        </ul>
    </body>
</html>
