<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Words <%= lang %> - Tangocho</title>
        <link rel="stylesheet" href="/assets/css/index.css" />
        <script src="/assets/js/index.js" type="module"></script>
    </head>
    <body>
        <h1>Words <%= lang %></h1>
        <ul>
            <% words.forEach(word => { %>
            <li><%- include('./list-item', {item: word}); %></li>
            <% }); %>
        </ul>
    </body>
</html>
